@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.title {
  @apply text-5xl font-bold;
}

@media (min-width: 1024px) {
  .subscribe {
    min-height: calc(100vh - 64px) !important;
  }
}
@media (max-width: 1024px) {
  .subscribe {
    padding-bottom: 2rem;
  }
}
